html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* Introduction */
.portfolio-IntroductionWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgb(33, 33, 33);
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
}
.portfolio-IntroductionTitle {
    font-family: 'Merriweather', serif;
    font-size: 7em;
    color: rgb(255, 255, 255);
}
.portfolio-IntroductionDescription {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    color: rgb(249,38,114);
}
.portfolio-IntroductionImg {
    display: flex;
    justify-content: space-between;
}
.portfolio-ButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    background-color: rgb(33, 33, 33);
}
.portfolio-ButtonTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: rgb(255, 255, 255); 
}


/* Projects */
.portfolio-ProjectWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(218, 223, 225);
}
.portfolio-ProjectHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.portfolio-HeaderTitle {
    margin-bottom: 2.5%;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}
.portfolio-Grid {
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-GridBox {
    display: flex;
    background-color:rgb(33, 33, 33);
    min-height: 45vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    margin: 0%;
    padding: 0%;
}
.gridbox-Title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: rgb(255, 255, 255);
}
.gridbox-Description {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: rgb(255, 255, 255);
}
.gridbox-Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(33, 33, 33, 0.75);
}


/* Contact */
.portfolio-ContactWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    background-color: rgb(236, 240, 241);
}
.portfolio-ContactTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    color: rgb(0, 0, 0);
}
.portfolio-ContactDescription {
    margin-top: 2.5%;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
}



/* Footer */
.portfolio-Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10vh;
    background-color: rgb(33, 33, 33);
}
.portfolio-FooterDescription {
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: rgb(255, 255, 255);
}







/* Global Styles */
.arrow,.arrow:before {
    display: flex;
    justify-content: center;
    align-self: center;
}
.arrow {
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
}
.arrow:before {
    content: '';
    width: 20px;
    height: 20px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}
@keyframes arrow {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0;
    transform: translate(-5px, -5px);
    }
}
/* unvisited link */
a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* visited link */
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* selected link */
a:active {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}







